# Spark Dataframe Basics

In [1]:
#start spark session
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
#read dataset
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
#schema of dataframe
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
#column names
df.columns

['age', 'name']

In [7]:
#statistical summary of dataframe
df.describe()

DataFrame[summary: string, age: string, name: string]

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
#import type tools
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [10]:
#create your own schema for dataframe
data_schema = [StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

In [11]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('people.json',schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
#select vs grab data
df['age']

Column<b'age'>

In [16]:
type(df['age'])

pyspark.sql.column.Column

In [17]:
#to get dataframe object when you select a column we can use select
df.select('age')

DataFrame[age: int]

In [18]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [19]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [20]:
#list of first two row objects
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [21]:
type(df.head(2))

list

In [22]:
df.head(2)[0]

Row(age=None, name='Michael')

In [23]:
#row object
type(df.head(2)[0])

pyspark.sql.types.Row

In [24]:
#select multiple columns
df.select(['age','name'])

DataFrame[age: int, name: string]

In [25]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [26]:
#create new columns
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [27]:
#replace or rename old column
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [30]:
#spark sql queries
#register dataframe as a sql temporary view
df.createOrReplaceTempView('people')

In [31]:
results = spark.sql("SELECT * FROM people")

In [32]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
new_results = spark.sql("SELECT * FROM people where age=30")

In [34]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+